*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
button{
    background: orange;
    border-radius:50px;
    padding: 5px 15px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
form{
    border: 1px solid black;
    padding:5px;
    background: gray;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bolder;
}
input{
    font-size: 18px;
    color: blue;
}
form{
    top: 3px;
    bottom: 3px;
}